main, h1{
  padding: 1em;
  color: orangered;
}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 15%;
  box-shadow: 20px 15px 15px grey;
}

main p{
  background-color: gainsboro;
}

li{list-style-type: none;}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 20px 15px 15px grey;
}

footer{
  border: thin solid black;
}
